<div class="container-fluid">
	<div class="row" id="home">
		<div class="home-pic section">
			<div class="home-page-text">
				<h1> Full Stack Web Developer </h1>
				<h4> Freelance web developer &amp; designer building appealing, SEO friendly sites that generates revenue and produces ROI. </h4>
			</div><!--/home-page-text-->
		</div><!--/home-pic-->
	</div><!--/row-->
	<div class="row" id="about-me">
		<div class="about-me header section">
				<h1> About Me </h1>
				<div class="col-md-6 about-me-image">
				  <%= image_tag("DEGprofile.png", class: "me-pic") %>
				</div><!--/about-me-image-->
				<div class="col-md-6 about-me-text">
					<h4> I'm a freelance full-stack web developer with a background in business, sales and entrepreneurship that gives me a unique lense in how I approach creating sites, and maximizing their effectiveness.  I love working with start-ups, small &amp; medium sized businesses, especially those that are solving a unique problem with unique challenges and/or are tackling a cause.  </h4>
				</div><!--about-me-text-->
		</div><!--/about-me-->
	</div><!--/row-->
	<div class="row" id="specialty">
		<div class="specialty-1 header section">
			<h1> Skills </h1>
				<div class="col-md-4">
					<h2> Back-end </h2>
						<ul>
						  <li> Ruby on Rails </li>
						  <li> MySQL </li>
						</ul>
				</div><!--/col-md-4-->
				<div class="col-md-4">
					<h2> Front-end </h2>
					  <ul>
					  	<li> CSS </li>
					  	<li> Bootstrap </li>
					  	<li> Javascript </li>
					  </ul>
				</div><!--/col-md-4-->
				<div class="col-md-4">
					<h2> Other </h2>
					  <ul>
					  	<li> Search Engine Optimization (SEO) </li>
					  	<li> Google Adwords </li>
					  	<li> Google Analytics </li>
					  </ul>
				</div><!--/col-md-4-->
			
			<% if false %><!--modal button code-->
				<div class="col-md-4 col-md-offset-4">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  Order a Free Website Analysis
					</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary">Save changes</buttyon>
					      </div>
					    </div>
					  </div><!--modal-dialog-->
					</div><!--/modal-->				
				</div><!--/col-md-4-->
			<% end %>
		</div><!--/.specialty-1-->
	</div><!--#specialty-->
	<div class="row" id="sample-work">
			<div class="sample-work section">			
				<h1 class="sample-header"> Sample Work </h1>
				<div class= "col-md-4">
					<h3> Company: Breeze Street </h3>
					<h6> Profile: Online real estate selling platform where home owners can purchase a service offering package directly through the website.</h6>
				</div>
				<div class="col-md-8">
					<ul class="flip-pic">
				    <li>
			        <figure>		            
			            <%= image_tag("brz-screen.png", class: "sample-1 img-responsive") %>
			            <figcaption>
			                <h2>E-Commerce Site Revamp</h2>
			                <p> New and improved modern, mobile friendly website</p>
			                <p> Increased average time on site by 42% </p>
			                <p> Increased conversion rate(revenue) by 22% </p>
			            </figcaption>
			        </figure>
				    </li>
					</ul>
				</div>
			</div>
	</div><!--/row-->	
	<div class="row" id="contact">
		<div class="contact-us header section">			  
				<h1> Contact </h1>
				  <div class="col-md-6">
				  	<h2> David Green </h2>
				  	<h3> Email: David.e.green@gmail.com </h3>
				  	<h3> Phone: 416-455-5755 </h3>
				  </div>
				  <div class="col-md-6 reach-me">
				  	<%= render "contacts/contact_form" %>
				  </div>
			  </header>
		</div><!--/contact-us-->
	</div><!--/row-->
</div><!--/container-fluid-->
