

/***************** Home Page ******************/

.home-pic{
	margin: -50px 0 0; 
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("workstation.jpg");
    height: 710px;
	background-repeat: no-repeat;	
	background-attachment: fixed;
    background-size:cover;
}

@media (max-width: 767px){
    .home-pic{
          background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
     url("workstation.jpg");
    }
}

.home-page-text{
	position: absolute;
    display: inline-block;
    color: #fff;
    padding-top: 200px;
    text-align: center;
    width: 98%;
} 

.header{
	text-align: center;
}

.section{
	padding-top: 40px;
}

/****************** About Me *******************/

.about-me{
	height: 610px;
}

.about-me-text{
    height: 280px;
    color: gray;
    vertical-align: middle; 
}

.about-me-text h3{
    color: black;
}
 
.about-me-image{
	text-align: center;
}

@media (max-width: 325px){
    .about-me{
        height: 910px;
    }
}

@media (min-width: 326px) and (max-width: 769px){
    .about-me{
        height: 860px;
    }
}

/******************* Skills *********************/

.specialty-1{
	   background: 
    linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0)
    ),
    url("workstation.jpg");
	background-attachment: fixed;
	height: 610px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;	
}

@media (max-width: 767px){
    .specialty-1{
          background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
     url("workstation.jpg");
     height: 650px;
    }    
}
.specialty-1 li{
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    margin-left: -30px;
    text-align: center;
}

.specialty-1 ul{
    text-align: center;
    width: 100%;
}

.specialty-1 h1{
    font-size: 40px;
}

.special{
    text-align: center;
}

ul{
  list-style: none;
}

/******************* Sample Work ********************/

.sample-work{
	height: 610px;
  padding-top: 20px;
}

@media (max-width: 667px){
  .sample-work{
    height: 1500px;
  }
}

@media (max-width: 375px){
  .sample-work{
    height: 1360px;
  }
}

.thumb-desc{
  text-align: center;
}

.thumb-desc h3{
  color: #0000e6;
}

.well{
  margin-top: 50px;
}

/****************** Contact Us ************************/
.contact-us{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("toronto-edited.jpeg");
    height: 605px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white; 
  background-position: center;
}

.contact-us h1{
    margin-bottom: 40px;
}
